
<!--

    code for php implementation as an include
-->


<footer>
    <!-- Flexbox layout for components see footer.css -->

  <section class="footnotes" id="footnotes">
   <!-- <div>a</div><div>b</div><div>c</div> -->
   <div class="subscribe">
       <p>Subscribe for latest news about network</p>
       <div class="subscribe-form">
           <input type="email" placeholder="type your email here" />
           <div class="input-button">
               <input type="button" value="subscribe" />
           </div>

       </div>
   </div>
   <div class="urls">
       <ul>
           <li><a href="#">Home</a></li>
           <li><a href="#">About us</a></li>
           <li><a href="#">Faq's</a></li>
           <li><a href="#">Support</a></li>
           <li><a href="#">Contact</a></li>
       </ul>
   </div>
   <div class="brand">
       <img src="./assets/images/logo-desktop-footer.png" width="400" height="115" alt="" />
   </div>
       
  </section>
</footer>