<!--

    code for php implementation as an include
-->

             <!-- hero section -->
             <section class="hero section-padding" id="hero">
                <h1 class="hero-title">
                    <div class="impact">unleashing</div>
                    the power of concurrency
                    <a data-fancybox="modal" href="https://www.youtube.com/watch?v=VW7ats17DTM">
                        <img src="./assets/images/play-video.png" alt="play" />
                    </a>
                </h1>
                <div class="hero-copy">
                    <p>Linearly Scalable Concurrent Layer 1 Blockchain Platform</p>
                    <button class="btn hero-cta">get white paper</button>
                </div>
             </section>