<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gorki</title>
    <link rel="stylesheet" href="./assets/css/reset.css" />
    <link rel="stylesheet" href="./assets/css/header/header.css" />
    <link rel="stylesheet" href="./assets/css/sections/hero.css" />
    <link rel="stylesheet" href="./assets/css/sections/l1-blockchain.css" />
    <link rel="stylesheet" href="./assets/css/sections/card.css" />
    <link rel="stylesheet" href="./assets/css/sections/discovery.css" />
    <link rel="stylesheet" href="./assets/css/sections/testmony.css" />
    <link rel="stylesheet" href="./assets/css/sections/partnership.css" />
    <link rel="stylesheet" href="./assets/css/sections/contact.css" />
    <link rel="stylesheet" href="./assets/css/footer/footer.css" />
    <link rel="stylesheet" href="./assets/css/main.css" />
    <link rel="stylesheet" href="./assets/css/layout.css" />
    <link rel="stylesheet" href="./assets/css/variables.css" />
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css"
    />
</head>
<body>
    <div class="blockchain-container">
        <section class="justify-center">
                <div class="number-container"><div class="number">
                    <img src="./assets/images/number-01.png" alt="" />
                </div>
            </div>
            <h2 class="blockchain-title">Linearly Scalable Concurrent Layer 1 <span>Blockchain Platform</span></h2>
            <div class="blockchain-content">
                <!-- an image in a container-->
                <!-- the web component timeline -->
                <div class="content-group">
                    <div class="picture-element">
                        Picture
                    </div>
                    <div class="custom-html">
                        <time-line message-bg="#0073BA" message-clr="#FFFFFF">
                            <span slot="message">
                                The first message in the timeline
                            </span>
                        </time-line>

                        <time-line message-bg="#0073BA" message-clr="#FFFFFF">
                            <span slot="message">
                                The second message in the timeline
                            </span>
                        </time-line>

                        <time-line message-bg="#0073BA" message-clr="#FFFFFF">
                            <span slot="message">
                                The third message in the timeline
                            </span>
                        </time-line>

                        <time-line message-bg="#0073BA" message-clr="#FFFFFF">
                            <span slot="message">
                                The fourth message in the timeline
                            </span>
                        </time-line>
                    </div>
                </div>
            </div>
          </section>
</div>
<script src="./scripts/timeline.js"></script>
</body>
</html>