<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gorki</title>
    <link rel="stylesheet" href="./assets/css/reset.css" />
    <link rel="stylesheet" href="./assets/css/header/header.css" />
    <link rel="stylesheet" href="./assets/css/sections/hero.css" />
    <link rel="stylesheet" href="./assets/css/sections/l1-blockchain.css" />
    <link rel="stylesheet" href="./assets/css/sections/card.css" />
    <link rel="stylesheet" href="./assets/css/sections/discovery.css" />
    <link rel="stylesheet" href="./assets/css/sections/testmony.css" />
    <link rel="stylesheet" href="./assets/css/sections/partnership.css" />
    <link rel="stylesheet" href="./assets/css/sections/contact.css" />
    <link rel="stylesheet" href="./assets/css/footer/footer.css" />
    <link rel="stylesheet" href="./assets/css/main.css" />
    <link rel="stylesheet" href="./assets/css/layout.css" />
    <link rel="stylesheet" href="./assets/css/variables.css" />
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css"
    />
</head>
<body>
    <div class="blockchain-container">
        <section class="justify-center">
                <div class="number-container">
                    <div class="number">
                        <img src="./assets/images/number-01.png" alt="" />
                    </div>
            </div>
            <h2 class="blockchain-title">Linearly Scalable Concurrent Layer 1 <span>Blockchain Platform</span></h2>
            <div class="blockchain-content">
                <div class="question-mark">?</div>
                <div class="content-group">
                    <div class="custom-html">
                        <time-line message-bg="#0B1D34" message-clr="#D6FE52">
                            <span slot="message">
                               A shard, is a horizontal partition of data in a database or search engine.
                            </span>
                        </time-line>

                        <time-line message-bg="#0B1D34" message-clr="#D6FE52">
                            <span slot="message">
                                A cluster is a set of computers that work together, they can be viewed as a single system.
                            </span>
                        </time-line>

                        <time-line message-bg="#0B1D34" message-clr="#D6FE52">
                            <span slot="message">
                                A validator is a program used to check the validity, correctness of code.
                            </span>
                        </time-line>
                    </div>
                    <div class="labels">
                        <div class="label">Sharding</div>
                        <div class="label">Clusters</div>
                        <div class="label">Validators</div>
                    </div>
                </div>
            </div>
          </section>
</div>
<script src="./scripts/timeline.js"></script>
</body>
</html>