<!--

    code for php implementation as an include
-->

<!-- discovery section(s) -->

<section class="discovery section-padding" id="discovery-1">
    <div class="info-graphic">
        <img src="./assets/images/ecosystem-image.png" alt="ecosystem" />
    </div>
    <div class="info-text">
        <div class="first">
            <h2>Gorki Ecosystem awaits you</h2>
            <p>Discover how our platform transforms the landscape of 
                decentralized healthcare, introduces GorDrive for secure 
                on-chain file storage, and unleashes the potential of game 
                development with advanced engine SDKs. 
                At the heart of our ecosystem, atomic transactions redefine 
                data storage and content delivery, ensuring your digital sovereignty 
                and privacy are paramount. 
                Our commitment to data privacy and self-sovereign identity 
                paves the way for compliance-ready, decentralized 
                data management, setting a new standard 
                for Web3 applications</p>
        </div>
    </div>
 </section>

 <section class="discovery section-padding" id="discovery-2">
    <div class="info-text">
        <div class="last">
            <h2>Gorki Ecosystem awaits you</h2>
            <p>Discover how our platform transforms the landscape of 
                decentralized healthcare, introduces GorDrive for secure 
                on-chain file storage, and unleashes the potential of game 
                development with advanced engine SDKs. 
                At the heart of our ecosystem, atomic transactions redefine 
                data storage and content delivery, ensuring your digital sovereignty 
                and privacy are paramount. 
                Our commitment to data privacy and self-sovereign identity 
                paves the way for compliance-ready, decentralized 
                data management, setting a new standard 
                for Web3 applications</p>
        </div>
    </div>
    <div class="info-graphic">
        <img src="./assets/images/ecosystem-image.png" alt="ecosystem" />
    </div>
 </section>