<!--

    code for php implementation as an include
-->

<!-- discovery section(s) -->

<div class="eco-container">
    <section class="ecosystem">
        <div class="eco-items contrast-header block-spacing-xl inline-spacing-xl">
        <h2 class="text-transform-discovery limit-chars">Gorki ecosystem awaits you</h2>
        <div class="eco-list">
          <div class="button-group">
            <div class="button-container">
                <button id="pdfH" onclick="window.open('./assets/docs/gorki___healthcare_whitepaper.pdf', '_blank');" class="button-item" data="Communication in a decentralised healthcare setting"></button>
            </div>
            <div class="button-container">
              <button id="pdfD" onclick="window.open('./assets/docs/gorki___Blockchain_as_a_Keystone_for_ESG.pdf', '_blank');" class="button-item" data="Data Management and asset tokenisation"></button>
            </div>

            <div class="button-container">
              <button id="pdfB" onclick="window.open('./assets/docs/gorki___decentralised_content_delivery_and_marketing.pdf', '_blank');" class="button-item" data="Business Content distribution stories"></button>
            </div>

            <div class="button-container">
              <button id="pdfG" onclick="window.open('./assets/docs/gorki___Redefining_the_Game.pdf', '_blank');" class="button-item" data="Blockchain and cloud gaming hybrid"></button>
            </div>
        </div>
        </div>
       </div>
      </section>

      <section class="eco-content">
        <div class="body inline-spacing-xl">
          <p class="body-copy">Discover how our platform transforms the landscape of 
      decentralized healthcare, introduces GorDrive for secure 
      on-chain file storage, and unleashes the potential of game 
      development with advanced engine SDKs.</p>
          <p class="body-copy">At the heart of our ecosystem, atomic transactions redefine 
      data storage and content delivery, ensuring your digital sovereignty 
      and privacy are paramount.</p>
          <p class="body-copy">Our commitment to data privacy and self-sovereign identity 
      paves the way for compliance-ready, decentralized 
      data management, setting a new standard 
      for Web3 applications.</p>
          <button class="wp-button" data="discover ecosystem"></button>
        </div>
        <div class="title-section contrast-header block-spacing-md inline-spacing-xl justify-end">
          <h2 class="text-transform-discovery">
            Discover Our Tokenomics
          </h2>
        </div>
        <div class="body inline-spacing-xl">
          <p class="body-copy push-down">Dive into our innovative token system designed for seamless transaction 
      execution and robust network security, powered by validator
       rewards. With 10 billion tokens minted initially, our ecosystem is 
      engineered for sustainability, featuring low inflation rates 
      and a dynamic reward mechanism tailored by user engagement 
      and network activity.</p>
          <p class="body-copy">Experience the future of blockchain economy, where your participation 
      directly influences growth and stability.</p>
          <button class="wp-button" data="discover tokenomics"></button>
        </div>
      </section>
   </div>