
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gorki</title>
    <link rel="stylesheet" href="./assets/css/reset.css" />
    <link rel="stylesheet" href="./assets/css/header/header.css" />
    <link rel="stylesheet" href="./assets/css/sections/hero.css" />
    <link rel="stylesheet" href="./assets/css/sections/l1-blockchain.css" />
    <link rel="stylesheet" href="./assets/css/sections/card.css" />
    <link rel="stylesheet" href="./assets/css/sections/discovery.css" />
    <link rel="stylesheet" href="./assets/css/sections/testmony.css" />
    <link rel="stylesheet" href="./assets/css/sections/partnership.css" />
    <link rel="stylesheet" href="./assets/css/sections/contact.css" />
    <link rel="stylesheet" href="./assets/css/footer/footer.css" />
    <link rel="stylesheet" href="./assets/css/main.css" />
    <link rel="stylesheet" href="./assets/css/layout.css" />
    <link rel="stylesheet" href="./assets/css/variables.css" />
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css"
    />
</head>
    <body>
        <div class="eco-container">
            <section class="eco-content">
                <div class="message">
                    <button class="content-button" data="discover ecosystem"></button>
                </div>
                <div class="body">
                <p class="body-copy">Discover how our platform transforms the landscape of 
            decentralized healthcare, introduces GorDrive for secure 
            on-chain file storage, and unleashes the potential of game 
            development with advanced engine SDKs.</p>
                <p class="body-copy">At the heart of our ecosystem, atomic transactions redefine 
            data storage and content delivery, ensuring your digital sovereignty 
            and privacy are paramount.</p>
                <p class="body-copy">Our commitment to data privacy and self-sovereign identity 
            paves the way for compliance-ready, decentralized 
            data management, setting a new standard 
            for Web3 applications.</p>
                
                </div>

                <div class="content-banner">
                <h2>
                    Discover Our <span>Tokenomics</span>
                </h2>
                </div>
                <div class="body">
                <p class="body-copy">Dive into our innovative token system designed for seamless transaction 
            execution and robust network security, powered by validator
            rewards. With 10 billion tokens minted initially, our ecosystem is 
            engineered for sustainability, featuring low inflation rates 
            and a dynamic reward mechanism tailored by user engagement 
            and network activity.</p>
                <p class="body-copy">Experience the future of blockchain economy, where your participation 
            directly influences growth and stability.</p>
   
                </div>
                <div class="message">
                    <button class="content-button" data="discover tokenomics"></button>
                </div>
            </section>
        </div>

    </body>
  </html>