<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gorki</title>
    <link rel="stylesheet" href="./assets/css/reset.css" />
    <link rel="stylesheet" href="./assets/css/header/header.css" />
    <link rel="stylesheet" href="./assets/css/sections/hero.css" />
    <link rel="stylesheet" href="./assets/css/sections/l1-blockchain.css" />
    <link rel="stylesheet" href="./assets/css/sections/card.css" />
    <link rel="stylesheet" href="./assets/css/sections/discovery.css" />
    <link rel="stylesheet" href="./assets/css/sections/testmony.css" />
    <link rel="stylesheet" href="./assets/css/sections/partnership.css" />
    <link rel="stylesheet" href="./assets/css/sections/contact.css" />
    <link rel="stylesheet" href="./assets/css/footer/footer.css" />
    <link rel="stylesheet" href="./assets/css/main.css" />
    <link rel="stylesheet" href="./assets/css/layout.css" />
    <link rel="stylesheet" href="./assets/css/variables.css" />
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css"
    />
</head>
<body>
    <section class="ecosystem">
        <div class="eco-items">
            <ul class="eco-list">
       
                    <li>
                        <div class="icon"></div>
                        <a class="button" href="./assets/docs/gorki___healthcare_whitepaper.pdf" target="_blank">Communication in a decentralised healthcare setting</a>
                    </li>
                    <li>
                        <a class="button" href="/assets/docs/gorki___Blockchain_as_a_Keystone_for_ESG.pdf" target="_blank">Data Management and asset tokenisation</a>
                    </li>
                    <li> 
                        <a class="button" href="./assets/docs/gorki___decentralised_content_delivery_and_marketing.pdf" target="_blank">Business Content distribution stories</a>
                    </li>
                    <li>
                        <a class="button" href="./assets/docs/gorki___Redefining_the_Game.pdf" target="_blank">Blockchain and cloud gaming hybrid</a>
                    </li>
            </ul>
        </div>
    </section>
  </body>
  </html>