/*
Watch for scroll events
*/

.scroll-watcher {
  height: 3px;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: var(--lime-green-900);;
  width: 100%;
  scale: 0 1;
  transform-origin: left;

  animation: scroll-watcher linear;
  animation-timeline: scroll(y);
}

@keyframes scroll-watcher {
  to {
    scale: 1 1;
  }
}

/*
* fix to top using sticky
*/

.fixed {
  width: 100%;
  position: sticky;
  top: 0;
  padding-block-start: 0.20rem;
  background-color: var(--mid-tone-clr);
  z-index: 20;
}

.navbar-content {
  position: relative;
  z-index: 21;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  inset: 0;
  z-index: 22;

}

.navbar .logo img {
  width: 100%;
  object-fit: contain;
}

.navbar .resources {
  display: flex;
  margin-inline-start: auto;
}
.navbar ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  --_gap: 2rem;
}


.navbar li {
  overflow: hidden;
  position: relative;
  padding-inline: calc(var(--_gap) / 2);
  padding-block-end: 0.25rem;
}

.navbar li::after {
  content: '';
  position: absolute;
  left: 8px;
  bottom: 1px;
  width: 85%;
  height: 2px;
  background-color: var(--tone-light-clr-500);
  translate: var(--_translate);
  scale: var(--_width, 0) 1;
  transition:
    scale 300ms var(--_scale-delay, 0ms),
    translate 500ms var(--_translate-delay, 0ms);
}

.navbar li:hover,
.navbar li:focus-within {
  --_width: 0.8;
}

.navbar a {
  font-weight: 500;
  font-size: 13px;
  color: var(--tone-light-clr-500);
}

.navbar a:hover,
.navbar a:focus-visible {
  opacity: 1;
}

@supports selector(has:(.navbar)) {

  .navbar li:hover+li {
    --_translate: -100%;
    --_scale-delay: 300ms;
    --_translate-delay: 200ms;
  }

  .navbar li:has(+ :hover) {
    --_translate: 100%;
    --_scale-delay: 300ms;
    --_translate-delay: 200ms;
  }

}

.fixed .mobile-nav {
  position: absolute;
  right: 1.5rem;
  top: 1rem;
  width: 24px;
  height: 24px;
  z-index: 25;
}

.mobile-nav {
  display: flex;
  position: relative;
  justify-content: flex-end;
}

.mobile-nav a svg {
  color: currentColor;
  fill: #4b7f01;
}

.mobile-list {
  display: none;
  position: fixed;
  top: 45px;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 1);
  z-index: 9999;
  padding: 10px;
}

.mobile-list ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  list-style: none;
  padding-block: 32px 0;
  margin: 0;
}

.mobile-list li {
  text-align: center;
  padding-block: 1rem;
  margin-block: 0 0.5rem;
  border-bottom: 1px solid #0073BA;
  width: 100%;
}

.mobile-list li a {
  color: #4b7f01;
}

.mobile-list li:last-child {
  border-bottom: 0;
}

@media screen and (min-width: 300px) {}

@media screen and (min-width: 300px) and (max-width: 768px) {
  .navbar ul {
    padding-block: 0.8rem;

  }

  .navbar a {
    display: none;
  }
  .navbar .btn-outline,
  .navbar .btn-fill {
    display: none;
  }
}

@media screen and (min-width: 769px) and (max-width:990px) {
  .mobile-nav {
    display: none;
  }

  .mobile-list {
    display: none;
  }
  .navbar .btn-outline,
  .navbar .btn-fill {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar .btn-outline {
    width: 116px;
    height: 31.23px;
    border: 1px solid var(--lime-green-900);;

  }
  .navbar .btn-fill {
    width: 156px;
    height: 31.23px;
    background-color: var(--lime-green-900);;
    margin-inline-start: 16px;
  }
  .navbar .btn-outline a,
  .navbar .btn-fill a {
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    text-transform: capitalize;
  }
  .navbar .btn-outline a {
    color: var(--tone-light-clr-500);
  }
  .navbar .btn-fill a {
    background-color: var(--lime-green-900);;
    color: var(--tone-dark-clr)
  }

}

@media screen and (min-width: 990px) {
  .navbar {
    width: 990px;
  }

  .navbar .btn-fill,
  .navbar .btn-outline {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar .btn-outline {
    width: 116px;
    height: 31.23px;
    border: 1px solid var(--lime-green-900);;

  }
  .navbar .btn-fill {
    width: 156px;
    height: 31.23px;
    background-color: var(--lime-green-900);;
    margin-inline-start: 16px;
  }
  .navbar .btn-outline a {
    color: var(--tone-light-clr-500);
  }
  .navbar .btn-fill a {
    background-color: var(--lime-green-900);;
    color: var(--tone-dark-clr)
  }
}

@media screen and (min-width: 990px) {
  .mobile-nav {
    display: none;
  }

  .mobile-list {
    display: none;
  }
}


/* media queries */