

/*
Watch for scroll events
*/

.scroll-watcher {
    height: 3px;
    position: fixed;
    top:0;
    z-index:100;
    background-color: #1FAFD4;
    width: 100%;
    scale: 0 1;
    transform-origin: left;

    animation: scroll-watcher linear;
    animation-timeline: scroll(y);
}

@keyframes scroll-watcher {
   to { scale: 1 1;} 
}
/*
* fix to top using sticky
*/

.fixed {
    width: 100%;
    position: sticky;
    top: 0;
    padding-block-start: 0.20rem;
    background-color: #fff;
    z-index: 20;
}
@media screen and (min-width: 300px) {
  .fixed{
    width: 100vw;

  }
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 980px;
    margin-inline: auto;
}

.navbar .logo img{
  width: 100%;
  object-fit: contain;
}

@media screen and (min-width: 300px) {
  .navbar .logo {
    width: 109px;
    height: 29px;
    padding-left:0.5rem;
  }
}

@media screen and (min-width: 768px) {
  .navbar .logo {
    width: 109px;
    height: 25px;
  }
}

@media screen and (min-width: 980px) {
  .navbar .logo {
    width: 139px;
    height: 32px;
  }
}

.navbar ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    --_gap: 2rem;
}

.navbar li {
    overflow: hidden;
    position: relative;
    padding-inline: calc(var(--_gap) / 2 );
    padding-block-end: 0.25rem;
}

.navbar li::after{
    content:'';
    position: absolute;
    left: 0;
    bottom: 1rem;
    height: 2px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    
    translate: var(--_translate);
    scale: var(--_width, 0) 1;
    
    transition: 
      scale 300ms var(--_scale-delay, 0ms),
      translate 500ms var(--_translate-delay, 0ms);
}

.navbar li:hover,
.navbar li:focus-within {
  --_width: 0.8;
}

@supports selector(has:(.navbar)){
  
    .navbar li:hover + li {
    --_translate: -100%;
    --_scale-delay: 300ms;
    --_translate-delay: 200ms;
    }
    
    .navbar li:has(+ :hover) {
    --_translate: 100%;
    --_scale-delay: 300ms;
    --_translate-delay: 200ms;
    }
    
  }

.navbar a {
    /* About Github Whitepaper */
font-weight: 600;
font-size: 18px;
line-height: 50px;
color: rgba(0, 0, 0, 0.5);
opacity: 0.7;
position: relative;
}
.navbar a:hover,
.navbar a:focus-visible{
  opacity: 1;
}


@media screen and (min-width: 300px) and (max-width: 768px) {
  .navbar ul {
    padding-block: 0.8rem;

  }
  .navbar a {
    display: none;
  }

  .fixed .hamburger{
    /* hamburger */  
  position: absolute; 
  right: 1.5rem;
  top: 0.6rem;
  width: 30.5px;
  height: 14.29px;
  /* background-image: url("../../images/hamburger.svg");
  background-repeat: no-repeat; */
  } 
  .hamburger button {
    border:none;
    padding: 0;
    background: transparent;
  }
}

.fixed .hamburger-list {
  position:absolute;
  top:32px;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #000;
  color: #fff;
  text-align: center;
  font-size: 3rem;
}
.fixed .hamburger button {
  background-color: transparent;
  margin-inline-end: 1rem;;
}
.fixed .hamburger-list li {
  padding-block: 1rem;
  border-bottom: 1px solid #1FAFD4;
}

.fixed .hamburger-list li:last-child {
  border-bottom: none;
}
@media screen and (min-width: 769px) and (max-width:979px) {
  .hamburger {
    display: none;
  }
  .hamburger button {
    display: none;
    visibility: hidden;
  }
  .fixed .hamburger-list {
    display: none;
  }
}
@media screen and (min-width: 980px) {
  .hamburger {
    display: none;
  }
  .hamburger button {
    display: none;
    visibility: hidden;
  }
  .fixed .hamburger-list {
    display: none;
  }
}
/* media queries */

