<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gorki</title>
    <link rel="stylesheet" href="./assets/css/reset.css" />
    <link rel="stylesheet" href="./assets/css/header/header.css" />
    <link rel="stylesheet" href="./assets/css/sections/hero.css" />
    <link rel="stylesheet" href="./assets/css/sections/l1-blockchain.css" />
    <link rel="stylesheet" href="./assets/css/sections/card.css" />
    <link rel="stylesheet" href="./assets/css/sections/discovery.css" />
    <link rel="stylesheet" href="./assets/css/sections/testmony.css" />
    <link rel="stylesheet" href="./assets/css/sections/partnership.css" />
    <link rel="stylesheet" href="./assets/css/sections/contact.css" />
    <link rel="stylesheet" href="./assets/css/footer/footer.css" />
    <link rel="stylesheet" href="./assets/css/main.css" />
    <link rel="stylesheet" href="./assets/css/layout.css" />
    <link rel="stylesheet" href="./assets/css/variables.css" />
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css"
    />
</head>
    <body>
        <section class="partners">
            <div class="partners-title">
                <h2>Partner<span>ships</span></h2>
            </div>

            <div class="partners-list">
                <img src="./assets/images/nvidia.png" alt="" />
                <img src="./assets/images/angle-42.png" alt="" />
            </div>
        </section>
    </body>
</html>