footer{
    display: flex;
    background-image: linear-gradient(90deg, rgba(202, 246, 55, 1),rgba(128, 152, 49, 1) 49%);
    flex-direction: column;
}

.footnotes .subscribe {
    display: flex;
    align-items: center;
}

.footnotes .subscribe p {
    font-family: 'Inter';
}

.urls {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


.subscribe .subscribe-form {
    border-radius: 8px;
}
.subscribe-form .input-button {
    border-radius: 0 5px 5px 0;
}
@media screen and (min-width: 300px) {

    footer .footnotes {
        padding-inline: 2rem;
    }
    .footnotes .subscribe {
        width: 100%;
        height: auto;
        flex-direction: column;
        align-items: flex-start;
    }

    .footnotes .subscribe p {
        font-weight: 600;
        font-size: .8rem;
        line-height: 24px;
        letter-spacing: 0.04em;
        margin-block-end: .5rem;
        color: #010F40;
    }
    .subscribe .subscribe-form {
        border: 3px solid #0073BA;
        width: 423px;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        color: #010F40;
    }

    .subscribe-form .input-button {
        height: 66px;
        display: flex;
        padding-inline: 2rem;
        background-color: transparent;
        color: #010F40;
    }
    .subscribe-form input[type=button] {
        cursor: pointer;
     }
     .subscribe-form input[type=email] {
         padding-inline-start: 1rem;
     }

     .urls ul {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size:0.9rem;
        line-height: 24px;
        padding-inline-start: 0.4rem;
        margin-block: 1.5rem;
    }
    .urls li {
        letter-spacing: 0.04em;
        padding-block-end: 8px;
    }
    .urls a {
        color: #010F40;
        font-size: .8rem;

    }
    .brand {
        padding-block-end: 3rem;
        position: relative;
        top: -20px;
    }
    .brand p {
        color: #010F40;
        font-size: .8rem;
        font-weight: 600;
        padding-inline-start: 1rem;
    }
}
@media screen and (min-width: 980px) {
    footer .footnotes {
        display: flex;
        justify-content:space-between;
        width: 980px;
        margin-inline: auto;
        padding-block-start: 3rem;
        padding-block-end: 4.5rem;
        flex-direction:row-reverse;
    }

    .footnotes .subscribe {
        width: 418px;
        height: 24px;
        flex-direction: column;
        align-items: flex-start;
    }

    .footnotes .subscribe p {
        font-weight: 600;
        font-size: .8rem;
        line-height: 24px;
        letter-spacing: 0.04em;
        margin-block-end: .5rem;
        color: #010F40;
    }
    .subscribe .subscribe-form {
        border: 3px solid #0073BA;
        width: 423px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        color: #010F40;
    }

    .subscribe-form .input-button {
        height: 66px;
        display: flex;
        padding-inline: 2rem;
        background-color: transparent;
        color: #010F40;
    }
    .subscribe-form input[type=button] {
       cursor: pointer;
    }
    .subscribe-form input[type=email] {
        padding-inline-start: 1rem;
    }

    .urls ul {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size:0.9rem;
        line-height: 24px;
        padding-inline-start: 0.4rem;
    }
    .urls li {
        letter-spacing: 0.04em;
        padding-block-end: 8px;
    }
    .urls a {
        color: #010F40;
        font-size: .8rem;

    }
    .brand p {
        color: #010F40;
        font-size: .8rem;
        font-weight: 600;
        padding-inline-start: 1rem;
    }
}
