/* 
Layouts 
*/
.hero-container {
    background-color: var(--mid-tone-clr);

    background-image: linear-gradient(45deg, #143A3D 50%,#124750 75%, #1E6D74 100%);
  }
  
  
  /*
  Utilities
  */
  .primary-header-clr {
    background-color: #000000;
  }
  
  .contrast-header-clr {
    background-color: #0e0e0e;
  }
  
  .contrast-header-alpha-clr {
    background-color: #00000085;
  }
  
  .dashed-border {
    border: 2px dashed;
    border-color: #1D257B;
  }
  
  .grouped-theme {
    /*
      can be used to place background images to create e theme
      */
    background-color: #000000;
  }
  
  /*
  acessibility
  */
  
  /*
  for header
  */
  .visually-visible {
    display: inline-flex;
    flex-wrap: wrap;
  }
  
  .visually-hidden {
    /*
  to do for accessibility
  */
  }
  
  /*
  alignment
  */
  .justify-end {
    justify-content: flex-end;
  }
  
  .justify-center {
    margin-inline: auto;
  }
  
  /*
  spacing
  */
  
  .section-spacing {
    padding-block: 116px;
  }
  
  .block-spacing-uneven {
    padding-block: 8rem 12rem;
  }
  
  .block-spacing-xl {
    padding-block: 8rem;
  }
  
  .block-spacing-md {
    padding-block: 4rem;
  }
  
  .block-spacing-sm {
    padding-block: 2rem;
  }
  
  .inline-spacing-xl {
    padding-inline: 8rem;
  }
  
  .inline-spacing-start-xl {
    padding-inline: 12rem 0
  }
  
  .inline-spacing-md {
    padding-inline: 4rem;
  }
  
  .inline-spacing-sm {
    padding-inline: 2rem;
  }
  
  /*
    characters
    */
  .limit-chars {
    width: 10ch;
  }