/* 
Layouts 
*/

.core-info {
    width: 100%; 

    height:auto;
    background-image: linear-gradient(297.42deg, #D6FE52 -3.32%, #7D9566 34.69%, #1D257B 67.36%);
    background-size: cover;
}

.hero-container {
    width: 100%;
    height: auto;
    background-color: #1D257B;
    padding-block: 2rem 0;
}