
@font-face {
  font-family: 'Inter-Bold';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./../fonts/Inter-Bold.woff2') format('woff2');
 }

 @font-face {
  font-family: 'Inter-SemiBold';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('./../fonts/Inter-SemiBold.woff2') format('woff2');
 }

 @font-face {
  font-family: 'Inter-Medium';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('./../fonts/Inter-Medium.woff2') format('woff2');
 }

 @font-face {
  font-family: 'Inter-Regular';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./../fonts/Inter-Regular.woff2') format('woff2');
 }

 @font-face {
  font-family: 'Inter-Light';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('./../fonts/Inter-Light.woff2') format('woff2');
 }

body {
    margin:0;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    background-color: #F0F1F2;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
}

main {
  display: flex;
  flex-direction: column;
}

h2 {
font-family: 'Inter';
}

.app-home-container {
    width: 100%;
    height: auto;
    background-position: top left;
    background-size: contain;
    background-repeat: no-repeat;
}
@media screen and (min-width: 300px) {
  .app-home-container {
    background-image: url("../images/hero-background-mobile.png");
  }
}

@media screen and (min-width: 768px) {
  .app-home-container {
    background-image: url("../images/hero-background-tablet.png");
  }
}

@media screen and (min-width: 980px) {
  .app-home-container {
    background-image: url("../images/hero-background-desktop.png");
 
  }
}

