
.card-container {
  background-color: var(--mid-tone-clr);
}


.card-banner,
.card-list,
.card,
.card-body {
  display: flex;
}

.card-banner {
  position: relative;
}
.card-banner h2 {
  font-weight: var(--fw-light);
  font-size: var(--fs-header-2);
  text-transform: capitalize;
  color: var(--lime-green-900);
}
.card-banner h2 span {
  color: var(--cerulean-clr-900);
}
.card-banner .number-container {
  position:absolute;
  width: 36px;
  height: 36px;
  /* left: -42px;
  top: 6px; */
}

.card-banner .number-container .number{ 
  width: 100%;
}
/* .card-banner h2 {
font-size: var(--fs-header-3);
} */
.card-header {
  color: var(--lime-green-900);
}

.card {
  border-radius: 8px;
  border: 1px solid #3b4078;
}

.card-body {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 8px 8px;
}

.card-body .card-text {
  color: var(--lemon-line-clr-900);
  border-radius: 0 0 8px 8px;
}

@media screen and (min-width: 300px) {
  .card-container{
    padding: 1.5rem;
  }
  .card-banner {
    width: 100%;
  }
  .card-banner .number-container {
    left: 0px;
    top: -40px
}
  .card-header {
    padding-block: 1.5rem;
    padding-inline: 2rem;
    font-size: var(--fs-header-4);

  }
  .card-list {
    width: 100%;
    flex-direction: column;
  }
  .card {
    flex-direction: column;
    width: 100%;
    margin-block: 1.5rem;
  }
  .card-body {
    width: 100%;
    height: auto;
  }

  .card-body .card-text {
    padding-block: 2rem 4rem;
    padding-inline: 2rem;
  }
}

@media screen and (min-width: 768px) {
  .card-list {
    flex-direction: column;
    margin-inline: auto;
    width: 50%;
  }
  .card-header {
    padding-inline: 2rem;
  }
  .card-banner {
    width: 100%;
  }
  .card-banner .number-container {
    left: 0px;
    top: -40px
}
}

@media screen and (min-width: 990px) {
  .card-banner {
    width: 990px;
    margin-inline: auto;
  }
  .card-banner .number-container {
      left: -42px;
      top: 6px;
  }
  .card-banner h2 {
    margin-inline: 1rem 0;
    width: 15ch;
    line-height: 90%;
  }


  .card-list {
    flex-direction: row;
    /* align-items: flex-end; */
    justify-content: space-evenly;
    width: 990px;
  }
  .card {
    flex-direction: column;
    padding-block-start: 4.5rem;
    border-radius: 8px;
    border: 1px solid #3b4078;
    margin-inline: 1rem;
    margin-block: 1rem;
    min-height: 400px;
  }
  .card-header {
    width: 20ch;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
    text-transform: capitalize;
    padding-bottom: 2rem;
    display: flex;
    align-items: center;
    padding-inline: 1.8rem 0;
  }

  .card-body {
    width: 100%;
  }

  .card-body .card-text {
    padding-block: 2.5rem;
    padding-inline: 1.8rem;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }
}