/* h2 {
  font-family: 'Inter';
} */

/* .text-transform-discovery {
  font-weight: 900;
  font-size: 32px;
  line-height: 40px;
  text-transform: uppercase;
  background: linear-gradient(90.86deg, #768E67 -1.62%, #1699EA 102.14%);
  background-size: 100%;
  background-clip: text;
  background-repeat: repeat;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.text-transform-discovery,
.title-section {
  display: flex;
} */



/*
 sections
 */
.eco-container {
  background-color: var(--mid-tone-clr);
 }
.ecosystem,
.eco-items,
.eco-list,
.eco-list>ul,
.eco-content {
  display: flex;
}

.ecosystem {
  background-color: #020D2A;
  color: var(--tone-light-clr)
}
.eco-list {}

.eco-list li {
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  margin: 2rem;
  border: 1px solid var(--tone-light-clr-500);
  border-radius: 0 0 8px 0;
}
.eco-content {
  flex-direction: column;
}
.eco-content .content-banner {
  position: relative;
}
.eco-content .content-banner .number-container {
    position: absolute;
    width: 36px;
    height: 36px;
}
.content-banner .number-container .number {
  width: 100%;
}
.eco-content .body {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.body .body-copy {
  color: #aacb5b;
  font-family: 'Inter';
}

.message .content-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 32ch;
    padding: 1.1rem 1.5rem;
    text-transform: uppercase;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 10px;
    line-height: 17px;
    border: none;
    outline: none;
    position: relative;
    border-radius: 4px;
    background: linear-gradient(to right, #0073BA, #2FFF0D);
    cursor: pointer;
    z-index: 1;
}
.message .content-button::before {
  content: "";
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
  background-color: #B0C0A4;
  background-color: #1D257B;
  background-color: #0e0e0e33;
  background-color: #000;
  border-radius: 3px;
  z-index: -1;
  transition: 200ms;
}
.message .content-button:hover::before {
  opacity: 50%;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.message .content-button:hover::after {
  color: #ffffff;
}

.message .content-button::after {
  content: attr(data);
  font-size: 10px;
  font-weight: 700;
  background: linear-gradient(to right, #2FFF0D, #0073BA);
  -webkit-background-clip: text;
  color: transparent;
  transition: 200ms;
}


@media screen and (min-width: 300px) {
  .ecosystem {
    flex-direction: column;
  }

  .eco-items {
    flex-direction: column;
    width: 100%;
    padding-inline: 2rem;
  }

  .text-transform-discovery {
    margin-block: 0 2rem;
  }

  .eco-list {
    flex-direction: column;
    flex: 1;
    padding: 1rem;
  }
  
  .eco-list li {
    position: relative;
    min-height: 72px;
    display: flex;
    flex-direction: row;
  }
  .eco-list li .icon {
    position: absolute;
    top: -12px;
    left: -12px;
    width: 24px;
    height: 24px;
    background-color: white;
  }
  .eco-list li a {
    font-size: calc(var(--fs-header-5) - 4px);
  }
  .eco-content {
    width: calc(100% - 4rem);
  }
  .eco-content {
    padding-inline: 1.5rem;
    
  }
  .eco-content .message{
    margin-block:2rem  1rem;
  }
  .body .body-copy {
    margin-block: 2.5rem;
  }
  .eco-content .content-banner .number-container {
    left: 0;
    top: -32px;
  }

  .eco-content .content-banner h2 {
    font-weight: var(--fw-light);
    font-size: var(--fs-header-2);
    text-transform: capitalize;
    color: var(--lime-green-900);
    margin-block: 0 var(--vs-xx);
  }
  .eco-content .content-banner h2 span {
    color: var(--cerulean-clr-900);
  }

  .eco-list .button-group {
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-direction: column;
    gap: 1.5rem;
  }

  .eco-list .button-container {
    display: flex;
    margin-inline: 4px;
    min-width: 380px;
    height: 56px;
    align-items: flex-start;
  }

  .eco-list .button-container .button-item {
    padding-block: 8px;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    padding-inline: 16px;
    height: 64px;
    flex: 1;
  }

}

@media screen and (min-width:768px) {

  .eco-list {
    flex-direction: row;
    flex: 1;
    flex-wrap: wrap;
    padding-block: var(--vs-xs);
    padding-inline: var(--hs-md);
  }

  .eco-list li {
    position: relative;
    width: calc(50% - 4rem);
    min-height: 72px;
    display: flex;
    flex-direction: row;
  }
  .eco-list li .icon {
    position: absolute;
    top: -12px;
    left: -12px;
    width: 24px;
    height: 24px;
    background-color: white;
  }
  .eco-list li a {
    font-size: calc(var(--fs-header-5) - 4px);
  }
  .eco-content {
    width: calc(100% - 4rem);
    padding-inline: 2rem;
  }
  .eco-content .content-banner .number-container {
    left: -48px;
    top: 12px;
  }
  .eco-content .message{
    margin-block: 1rem;
  }
  .body .body-copy {
    margin-block: 1rem;
  }
  .body .body-copy:last-child {
    margin-bottom: 1rem;
    padding-bottom: 1.5rem;
  }
  .eco-content .content-banner h2 {
    font-weight: var(--fw-light);
    font-size: var(--fs-header-2);
    text-transform: capitalize;
    color: var(--lime-green-900);
    margin-block: 0 var(--vs-xx);
  }
  .eco-content .content-banner h2 span {
    color: var(--cerulean-clr-900);
  }
}

@media screen and (min-width: 990px) {
  .ecosystem {
    flex-direction: row;
    position: relative;
  }


  .eco-items {
    flex-direction: row;
    flex: 1;
    max-width: 990px;
    margin-inline: auto;
    padding-block: var(--vs-xs);
    padding-inline: var(--hs-md);

  }

  .eco-list {
    flex-direction: row;
    overflow-x: hidden;
    flex-wrap: wrap;
  }
  .eco-list li {
    position: relative;
    width: calc(50% - 4rem);
    min-height: 72px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .eco-list li .icon {
    position: absolute;
    top: -12px;
    left: -12px;
    width: 24px;
    height: 24px;
    background-color: white;
  }

  /*
  add classes for each icon type
  */
  .eco-list li a {
    font-size: calc(var(--fs-header-5) - 4px);
  }

  .eco-content {
    width: 990px;
    margin-inline: auto;
  }
  .eco-content .number-container {}
  .eco-list .button-group {
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-direction: column;
    gap: 1rem;
  }

  .eco-list .button-container {
    display: flex;
    margin-inline: 4px;
    min-width: 380px;
    height: 56px;
    align-items: flex-start;
  }


  .eco-list .button-container .button-item {
    padding-block: 8px;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    padding-inline: 16px;
    height: 56px;
    flex: 1;
    border-radius: 8px;
    border-color: var(--tone-light-clr-500);
    border-width: 1px;
  }


  .eco-content .message{
    width: 990px;
    margin-inline: auto;
    padding-block: var(--vs-md);
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .eco-content .body {
    width: max-content;
    width: 990px;
    flex-direction: row;
  }

  .eco-content .body .body-copy {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    width: 28ch;
    padding-inline: 0 1rem;
  }
  .eco-content .content-banner {}
  .eco-content .content-banner h2 {
    font-weight: var(--fw-light);
    font-size: var(--fs-header-2);
    text-transform: capitalize;
    color: var(--lime-green-900);
  }
  .eco-content .content-banner h2 span {
    color: var(--cerulean-clr-900);
  }
  .eco-content .contrast-header {
    width: 100%;
  }

  .eco-content .title-section {
    width: 990px;
    border-radius: 16px;
    background-image: url(../../images/gorki-token.png);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: 234px 234px;
  }

}