
.discovery {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    margin-inline: auto;
    max-width: 980px;
}

@media screen and (min-width: 980px) {
    .discovery {
        margin-inline: auto;
        max-width: 980px;
    }
}

.discovery .info-graphic {
    flex:1;
}

.info-graphic img {
    width:100%;
    object-fit: cover;
}

.info-graphic .pdf-group {
    width: 100%;
    height: auto;
    display: flex;
    /* flex-wrap: wrap; */
}
.pdf-group .pdf {
    position: relative;
    margin-block-end: 18px;
    margin-inline-end: 18px;
    width: 50%;
    height: 276px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* border: 1px solid #010F40; */
    border: 1px solid #010f401f;
}
.pdf-group .pdf .healthcare,
.pdf-group .pdf .esg, 
.pdf-group .pdf .marketing,
.pdf-group .pdf .gaming{
    position: absolute;
    bottom: 10px;
    right: 10px;
    width:86px;
    height:86px;
}
.pdf-group .pdf .healthcare{
    background-image: url('../../images/pdf-healthcare.png');
}
.pdf-group .pdf .esg{
    background-image: url('../../images/pdf-esg.png');
}
.pdf-group .pdf .marketing{
    background-image: url('../../images/pdf-marketing.png');
}
.pdf-group .pdf .gaming{
    background-image: url('../../images/pdf-gaming.png');
}
.pdf-group .pdf p {
    padding-inline: 1rem;
    font-weight: 700;
    font-size: 1.2rem;
    color: #010F40;
}

@media (prefers-reduced-motion: no-preference) {

    .info-graphic > img {
        scale: .8; 
        opacity: 0;
        animation: fade-in linear forwards;
        animation-timeline: view();
        /* animation-range-start: contain;
        animation-range-end: contain; */
        /* animation-range: contain;
        animation-range: exit; */
        animation-range: entry;
    }

    .info-graphic > .pdf-group {
        scale: .8; 
        opacity: 0;
        animation: fade-in linear forwards;
        animation-timeline: view();
        /* animation-range-start: contain;
        animation-range-end: contain; */
        /* animation-range: contain;
        animation-range: exit; */
        animation-range: entry;
    } 


    @keyframes fade-in {
        /* from { scale: .8; opacity: 0; } */
        to { scale: 1; opacity: 1;}
    }

}


.discovery .info-text {
    flex:1;
}

@media screen and (min-width: 980px) {
    .info-text .first {
        padding-inline-start: 4rem;
    }
    .info-text .last {
        padding-inline-end: 4rem;
    }
}



.info-text h2 {
    margin-block-end:1rem;
}

.info-text p {
    /* Discover how our platform transforms the landscape of decentralized healthcare, introduces GorDrive for secure on-chain file storage, and unleashes the potential of game development with advanced engine SDKs. At the heart of our ecosystem, atomic transactions redefine data storage and content delivery, ensuring your digital sovereignty and privacy are paramount. Our commitment to data privacy and self-sovereign identity paves the way for compliance-ready, decentralized data management, setting a new standard for Web3 applications */
font-family: 'Inter';
font-weight: 400;
font-size: 16px;
line-height: 19px;
display: flex;
align-items: center;
color: rgba(0, 0, 0, 0.5);
margin-block: 2rem;
}