

.hero{
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 980px) {
    .hero {
        height: 720px;
        margin-inline: auto;
        max-width: 980px
    }
    .hero-title{
        /* the power of concurrency */
        font-family: 'Inter';
        font-weight: 700;
        font-size: 48px;
        line-height: 58px;
        display: flex;
        color: #0073BA;
        flex-wrap: wrap;
        padding-block-start: 5rem
    }
    .impact {
        font-weight: 800;
        font-size: 128px;
        line-height: 155px;
        text-transform: uppercase;
        /* color: #E9F3F9; */
        background: linear-gradient(181deg, #03C8FB -1.7%, #2183DF 49.15%, #1D257B 100%);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        }
    .hero-title img {
            margin-inline-start:2rem;
            padding-block-start: 0.85rem
        }
    .hero .hero-copy {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-block-start: 5rem;
        }
}

.hero p{
    color: #0073BA;
}

.hero-button {
    border: 8px solid #0073BA;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #1FAFD4;
    justify-content: center;
    cursor: pointer;
    background: transparent;
    padding-block: 1rem;
    padding-inline: 4rem;
    
background-color: #000;
background-color: transparent;
}
.hero-button:hover {
    color: #fff;
    background-color: #010F40;
}