

.hero{
    display: flex;
    flex-direction: column;
}


@media screen and (min-width: 300px) {
    .hero {
        width:100%;
        align-items: center;
        display: flex;
        padding-block-start: 4.5rem;
        padding-inline:10px;
       }
       .hero-title {
        /* the power of concurrency */
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        display: flex;
        align-items: center;
        color: #0073BA;
        flex-direction: column;
       }
       .hero-title span{
        display: flex;
        padding-inline-start: 2.3rem;
       }
       .hero-title img {
        margin-inline-start:1rem;
       }
       .impact {
        /* Unleashing */
        font-weight: 800;
        font-size: 36px;
        line-height: 44px;
        /* identical to box height */
        display: flex;
        align-items: center;
        text-transform: uppercase;

        background: linear-gradient(0deg, rgba(117, 198, 193, 0.79) 0%, #1699EA 116.77%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;

       }
       .hero .hero-cta {
        padding-block: 3rem 5rem;
        }
}
@media screen and (min-width: 768px) and (max-width: 979px) {
   .hero {
    margin-inline: auto;
    max-width: 979px;
    min-width: 768px;
    align-items: center;
    display: flex;
    padding-block-start: 4.5rem;
   }
   .hero-title {
    /* the power of concurrency */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    color: #0073BA;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
   }
   .hero-title span{
    display: flex;
   }
   .hero-title img {
    margin-inline-start:2rem;

}
   .impact {
    /* Unleashing */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    line-height: 77px;
    display: flex;
    flex-wrap: wrap;
    text-transform: uppercase;
    background: linear-gradient(0deg, rgba(117, 198, 193, 0.79) 0%, #1699EA 116.77%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    width: 10ch;
    text-align: center;
    justify-content: center;
   }
   .hero .hero-cta {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-block: 5rem 7.5rem;
    }
}

@media screen and (min-width: 980px) {
    .hero {
        height: 720px;
        margin-inline: auto;
        max-width: 980px
    }
    .hero-title{
        /* the power of concurrency */
        font-family: 'Inter';
        font-weight: 700;
        font-size: 48px;
        line-height: 58px;
        display: flex;
        color: #0073BA;
        flex-wrap: wrap;
        padding-block-start: 5rem
    }
    .impact {
        font-weight: 800;
        font-size: 128px;
        line-height: 155px;
        text-transform: uppercase;
   


        background: linear-gradient(0deg, rgba(117, 198, 193, 0.79) 0%, #1699EA 116.77%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;

        }
    .hero-title span{
            display: flex;
           }
    .hero-title img {
            margin-inline-start:2rem;
            padding-block-start: 0.85rem
        }
    .hero .hero-cta {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-block-start: 5rem;
        }
}


.hero-button {
    border: 8px solid #0073BA;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 0.8rem;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #1FAFD4;
    justify-content: center;
    cursor: pointer;
    padding-block: 1rem;
    padding-inline: 4rem;
    background-color: transparent;
    text-transform: uppercase;
}
.hero-button:hover {
    color: #FFD700;
    background-color: #010F40;
}