/* partners */

.partners {
    display: flex;
    flex-direction: column;
    background-color: var(--mid-tone-clr);
  }
  
  .partners-title {
    border-radius: 16px;
  }
  

  .partners-title h2 {
    font-weight: var(--fw-light);
    font-size: var(--fs-header-2);
    text-transform: capitalize;
    color: var(--lime-green-900);
    margin-block: 0 var(--vs-xx);
  }
.partners-title h2 span {
    color: var(--cerulean-clr-900);
  }
  .partners-list {
    background-color: rgb(255 255 255);
    padding: 1rem;
    margin-block: 0 2rem;
  }
  
  @media screen and (min-width: 300px) {
    .partners-title h2 {
      font-size: var(--fs-header-2);
    } 
  
    .partners-list {
      border-radius: 16px;
    }
    .partners-list img {
      width: 100%;
    }
  
  }
  @media screen and (min-width: 768px) {
    .partners-list img {
      width: auto;
    }
  }
  @media screen and (min-width: 980px) {
  
    .partners-title {
      display: flex;
      flex-direction: row;
      width: 990px;
      margin-inline: auto;
    }
  
  
    .partners .partners-list {
      display: flex;
      flex: 1;
      justify-content: flex-start;
  
      width: 990px;
      margin-inline: auto;
      border-radius: 16px;  
    }
    .partners-list img {
      width: auto;
    }
  }