<section class="testimony">
    <div class="carousel-slider" id="responsive">
        <div class="carousel-content" data-grid='{"xl":3,"lg":2,"md":1,"sm":1}' data-pagination="true">
            <aside class="slide-item">
                <q>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit non cum facere!</q>
            </aside>
            <aside class="slide-item">
                <q>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit non cum facere!</q>
            </aside>
            <aside class="slide-item">
                <q>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit non cum facere!</q>
            </aside>
            <aside class="slide-item">
                <q>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit non cum facere!</q>
            </aside>
            <aside class="slide-item">
                <q>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit non cum facere!</q>
            </aside>
            <aside class="slide-item">
                <q>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit non cum facere!</q>
            </aside>
            <aside class="slide-item">
                <q>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit non cum facere!</q>
            </aside>
            <aside class="slide-item">
                <q>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit non cum facere!</q>
            </aside>
            <aside class="slide-item">
                <q>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit non cum facere!</q>
            </aside>
            <aside class="slide-item">
                <q>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit non cum facere!</q>
            </aside>
            <aside class="slide-item">
                <q>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit non cum facere!</q>
            </aside>
            <aside class="slide-item">
                <q>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit non cum facere!</q>
            </aside>
        </div>
        <button class="carousel-prev-btn">&larr;</button>
        <button class="carousel-next-btn">&rarr;</button>
        <div class="carousel-pagination"></div>
    </div>
</section>