<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gorki</title>
    <link rel="stylesheet" href="./assets/css/reset.css" />
    <link rel="stylesheet" href="./assets/css/header/header.css" />
    <link rel="stylesheet" href="./assets/css/sections/hero.css" />
    <link rel="stylesheet" href="./assets/css/sections/l1-blockchain.css" />
    <link rel="stylesheet" href="./assets/css/sections/card.css" />
    <link rel="stylesheet" href="./assets/css/sections/discovery.css" />
    <link rel="stylesheet" href="./assets/css/sections/testmony.css" />
    <link rel="stylesheet" href="./assets/css/sections/partnership.css" />
    <link rel="stylesheet" href="./assets/css/sections/contact.css" />
    <link rel="stylesheet" href="./assets/css/footer/footer.css" />
    <link rel="stylesheet" href="./assets/css/main.css" />
    <link rel="stylesheet" href="./assets/css/layout.css" />
    <link rel="stylesheet" href="./assets/css/variables.css" />
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css"
    />
</head>
<body>
    <div class="card-container">
        <div class="card-banner">
            <div class="number-container">
                <div class="number">
                    <img src="./assets/images/number-02.png" alt="" />
                </div>
            </div>
            <h2>Gorki ecosystem <span>awaits you</span></h2>
        </div>
        <section class="card-list">
            <div class="card">
            <h3 class="card-header">Leaderless consensus</h3>
            <div class="card-body">
                <p class="card-text">A leaderless PoS consensus algorithm inspired by Casper CBC research for enhanced security 
        and decentralization</p>
            </div>
            </div>
            <div class="card">
            <h3 class="card-header">Novel programming language</h3>
            <div class="card-body">
                <p class="card-text">Rholang, a concurrent programming language enables composible modules in concurrent settings, 
        leveraging process calculus for efficient conflict resolution and dependency management</p>
            </div>
            </div>
            <div class="card">
            <h3 class="card-header">Concurrency</h3>
            <div class="card-body">
                <p class="card-text">An emphasis on data ownership and concurrent data access on the blockchain, made possible through the design of its smart-contracting 
        language and the underlying technology stack</p>
            </div>
            </div>
        </section>
    </div>
</body>
</html>