<!--

    code for php implementation as an include
-->
             <!-- Card list section-->
             <section class="card-list-container">
                <h2 class="text-transform-card-list">Linearly Scalable Concurrent Layer 1 Blockchain Platform</h2>
                <div class="card-list">
                  <div class="card">
                    <h3 class="card-header">Leaderless consensus</h3>
                    <div class="card-body">
                      <p class="card-text">A leaderless PoS consensus algorithm inspired by Casper CBC research for enhanced security 
              and decentralization</p>
                    </div>
                  </div>
                  <div class="card">
                    <h3 class="card-header">Novel programming language</h3>
                    <div class="card-body">
                      <p class="card-text">Rholang, a concurrent programming language enables composible modules in concurrent settings, 
              leveraging process calculus for efficient conflict resolution and dependency management</p>
                    </div>
                  </div>
                  <div class="card">
                    <h3 class="card-header">Concurrency</h3>
                    <div class="card-body">
                      <p class="card-text">An emphasis on data ownership and concurrent data access on the blockchain, made possible through the design of its smart-contracting 
              language and the underlying technology stack</p>
                    </div>
                  </div>
                </div> 
              </section>