<!--

    code for php implementation as an include
-->
             <!-- Card list section-->
             <section class="card-list" id="card-list">
                <div class="card">
                    <div class="card-icon">
                        <img src="./assets/images/consensus-group.png" alt="" />
                    </div>
                    <h3 class="card-header">Leaderless consensus</h3>
                    <p>A leaderless PoS consensus algorithm inspired by Casper CBC research for enhanced security and decentralization</p>
                </div>

                <div class="card">
                    <div class="card-icon">
                        <img src="./assets/images/novel-programming-group.png" alt="" />
                    </div>
                    <h3 class="card-header">Novel programming language</h3>
                    <p>Rholang, a concurrent programming anguage enables composable modules in concurrent settings, leveraging process calculus for efficient conflict resolution and dependency management</p>
                </div>

                <div class="card">
                    <div class="card-icon">
                        <img src="./assets/images/concurrency-group.png" alt="" />
                    </div>
                    <h3 class="card-header">Concurrency</h3>
                    <p>An emphasis on data ownership and concurrent data access on the blockchain, made possible through the design of its smart-contracting language and the underlying technology stack</p>
                </div>
             </section>